# Docker
COMPOSE_PROFILES = "dev"

# Database
LEMURS_POSTGRES_HOST = "localhost:5432"
LEMURS_POSTGRES_USERNAME = ""
LEMURS_POSTGRES_PASSWORD = ""

# API
LEMURS_SIGNATURE = ""

LEMURS_MICROSOFT_TENANT_ID = ""
LEMURS_MICROSOFT_APP_ID = ""
LEMURS_MICROSOFT_SECRET = ""

LEMURS_EMAIL_ADDRESS = "lemurs-noreply@wpi.edu"
LEMURS_EMAIL_HOST = "smtp-mail.outlook.com"
LEMURS_EMAIL_PORT = "587"
LEMURS_EMAIL_USERNAME = "lemurs-noreply@wpi.edu"
LEMURS_EMAIL_PASSWORD = ""

# Web
REACT_APP_LEMURS_API_HOST = "http://localhost:8080"